<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akk.elevatorproject.mapper.ComplaintMapper" >
  <resultMap id="BaseResultMap" type="com.akk.elevatorproject.entity.Complaint" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="complaint_number" property="complaintNumber" jdbcType="VARCHAR" />
    <result column="elevator_id" property="elevatorId" jdbcType="VARCHAR" />
    <result column="help_people" property="helpPeople" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="complaint_type" property="complaintType" jdbcType="INTEGER" />
    <result column="complaint_status" property="complaintStatus" jdbcType="INTEGER" />
    <result column="result_info" property="resultInfo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>