<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akk.elevatorproject.mapper.ImgMapper" >
  <resultMap id="BaseResultMap" type="com.akk.elevatorproject.entity.Img" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="img_id" property="imgId" jdbcType="VARCHAR" />
    <result column="img_desc" property="imgDesc" jdbcType="VARCHAR" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="batchInsertImg" parameterType="java.util.List">
    INSERT INTO tb_img(img_id,img_desc,img_name,priority,group_id,create_time) VALUES
    <foreach collection="list" item="imgList" index="index" separator=",">
      (
      #{imgList.imgId},
      #{imgList.imgDesc},
      #{imgList.imgName},
      #{imgList.priority},
      #{imgList.groupId},
      #{imgList.createTime}
      )
    </foreach>
  </insert>
</mapper>