<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akk.elevatorproject.mapper.ShenpiMapper" >
  <resultMap id="BaseResultMap" type="com.akk.elevatorproject.entity.Shenpi" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="shenpi_id" property="shenpiId" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="loupan_id" property="loupanId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="shenpi_time" property="shenpiTime" jdbcType="TIMESTAMP" />
    <result column="shenpi_status" property="shenpiStatus" jdbcType="INTEGER" />
    <result column="shenpi_result" property="shenpiResult" jdbcType="VARCHAR" />
  </resultMap>

    <select id="selectShenpi" resultMap="BaseResultMap">
        select * from tb_shenpi
        <where>
            <if test="shenpiStatus != null">
                shenpi_status = #{shenpiStatus}
            </if>
            <if test="shenpiStatus == null and shenpiId != null">
                shenpi_id = #{shenpiId}
            </if>
            <if test="shenpiStatus == null and shenpiId == null and loupanId != null">
                loupan_id = #{loupanId}
            </if>
            <if test="shenpiStatus == null and shenpiId == null and loupanId == null and companyId != null">
                company_id = #{companyId}
            </if>
        </where>
    </select>
</mapper>