<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akk.elevatorproject.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.akk.elevatorproject.entity.User" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="sh_status" property="shStatus" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="if_c_admin" property="ifCAdmin" jdbcType="INTEGER"/>
    <result column="if_sp_user" property="ifSpUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="selectUser" resultMap="BaseResultMap">
        select * from tb_user
        <where>
            <if test="userType != null">
                user_type = #{userType}
            </if>
            <if test="userType == null and userId != null">
                user_id = #{userId}
            </if>
            <if test="userType == null and userId == null and companyId != null ">
                company_id = #{companyId}
            </if>
        </where>
    </select>

</mapper>